# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 24f3613ff585a85bdfacb70eb997160fae4e18ee3cc02e650fc2b98d35a83a78713de855bf21b28050d0ca6b27ccf7248e186a4032f9d4e8cb7af714ad295dd8

test:
  secret_key_base: ca92080a9cc0b26a8606d806c7bd83878947a20d4853b933db7ad32059c5310eb1eaca97c4fa7854e4eee7b8a83d0bce9cde93a5c8c31f79b82e5a057b8d50db

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
